<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/flat-ui.css" rel="stylesheet">
    
    <script src="http://fb.me/react-0.5.1.js"></script>
    <script src="http://fb.me/JSXTransformer-0.5.1.js"></script>
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
    <script src="js/logo.js" type="text/jsx"></script>
  </head>
  <body>
    <section class="col-md-12">
      <div class="navbar">
        <div class="navbar-collapse collapse navbar-collapse-01">
          <ul class="nav navbar-nav navbar-left">
            <li class="active">
              <a href="/">
                <img src="images/icons/svg/compas.svg" alt="Compas">
                <span class="menu-text"> Где я?  </span>
              </a>
            </li>

            <li >
              <a href="/">
                <img src="images/icons/svg/clipboard.svg" alt="Clipboard">
                <span class="menu-text"> Хочу  </span>
              </a>
            </li>

            <li >
              <a href="/">
                <img src="images/icons/svg/paper-bag.svg" alt="Pocket">
                <span class="menu-text"> Достака  </span>
              </a>
            </li>
            
            <li id="logo"></li>
          </ul>
        </div>
      </div>
    </section>

    <div id="map" style="width: 600px; height: 400px;"></div>

    <script src="js/jquery-1.8.3.min.js"></script>
    <!--<script src="js/jquery-ui-1.10.3.custom.min.js"></script>-->
    <!--<script src="js/jquery.ui.touch-punch.min.js"></script>-->
    <!--<script src="js/bootstrap.min.js"></script>-->
    <!--<script src="js/bootstrap-select.js"></script>-->
    <!--<script src="js/bootstrap-switch.js"></script>-->
    <!--<script src="js/flatui-checkbox.js"></script>-->
    <!--<script src="js/flatui-radio.js"></script>-->
    <!--<script src="js/jquery.tagsinput.js"></script>-->
    <!--<script src="js/jquery.placeholder.js"></script>-->
  </body>
</html>
