.menu-text {
  text-align: center;
}
.List {
  font-size: 14px;
}
#category-menu a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
#maino {
  padding: 0;
  background: #16a085;
}
#yamap {
  height: 900px;
  padding: 0;
}
#resorantsbox {
  padding: 0;
}
