.menu-text{
  text-align: center
}

.List
  font-size: 14px


#category-menu a
  position: relative;
  display: block;
  padding: 10px 15px;

#maino
  padding: 0
  background: #BDC3C7

#yamap
  height: 900px;
  padding: 0

#resorantsbox
  background: #ECF0F1
  padding: 0

